Nodered dashboard json file.json
[{"id":"8e7ff4c0.977368","type":"tab","label":"Flow 7","disabled":false,"info":""},{"id":"252adb05.80af64","type":"ui_text_input","z":"8e7ff4c0.977368","name":"","label":"City and Country","tooltip":"city,country","group":"a10c742b.b68e28","order":2,"width":"0","height":"0","passthru":false,"mode":"text","delay":"1500","topic":"city","x":370,"y":40,"wires":[["ba2037be.a528b8"]]},{"id":"e386ed90.611ef","type":"ui_button","z":"8e7ff4c0.977368","name":"","group":"a10c742b.b68e28","order":3,"width":0,"height":0,"passthru":false,"label":"ENTER","tooltip":"","color":"black","bgcolor":"yellow","icon":"fa-thumbs-up fa-2x","payload":"","payloadType":"str","topic":"","x":820,"y":40,"wires":[["cfe4c4e0.91c118"]]},{"id":"ba2037be.a528b8","type":"change","z":"8e7ff4c0.977368","name":"","rules":[{"t":"set","p":"mydata","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":40,"wires":[["e386ed90.611ef"]]},{"id":"cfe4c4e0.91c118","type":"change","z":"8e7ff4c0.977368","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"mydata","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":40,"wires":[["13419a68.7fe046"]]},{"id":"610b47c3.f169a8","type":"function","z":"8e7ff4c0.977368","name":"input processing(city,country)","func":"\n\nvar array = msg.payload.split(','),\n    a = array[0], b = array[1];\n var myarr={\"city\":a,\"country\":b};\n \nvar newmsg={payload:msg.location}\nlocation=myarr;\n return{\n     location\n}\n\n   \n   ","outputs":2,"noerr":0,"initialize":"","finalize":"","x":1480,"y":160,"wires":[["b8f333fe.c96ec"],[]]},{"id":"9da2bba9.32d438","type":"debug","z":"8e7ff4c0.977368","name":"debugging","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1890,"y":20,"wires":[]},{"id":"19bc9174.2a827f","type":"openweathermap","z":"8e7ff4c0.977368","name":"city,country input","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":2090,"y":120,"wires":[["9da2bba9.32d438","c49f95a5.6d6a88","304de3bb.18654c","fbd8f21e.1a23d","3cc059ef.6d9b16","f0160c6e.2d722","d9f44326.300cb","d481cd78.80e64","b5571e35.41d71","80da8cd4.349b1","2bf6343d.cb823c","5ec1b1ec.7bf78","a4d572e1.82b5a","724d8866.0a9f58","c3081389.26b8f","ced59d20.b9747","d03bc7df.422e68","1e414a5e.149006","4a5291a5.cdc68","bc9a98c8.9070f8"]]},{"id":"67a7db43.bdaab4","type":"ui_text_input","z":"8e7ff4c0.977368","name":"Latitude and Longitude details","label":"Latitude and Longitude ","tooltip":"Latitude,Longitude","group":"8b00623c.b5c53","order":1,"width":0,"height":0,"passthru":false,"mode":"text","delay":"3000","topic":"","x":350,"y":120,"wires":[["6739ff7d.ea159"]]},{"id":"6739ff7d.ea159","type":"change","z":"8e7ff4c0.977368","name":"","rules":[{"t":"set","p":"data","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":120,"wires":[["ecbdc159.667ef"]]},{"id":"ecbdc159.667ef","type":"ui_button","z":"8e7ff4c0.977368","name":"","group":"8b00623c.b5c53","order":2,"width":0,"height":0,"passthru":false,"label":"ENTER","tooltip":"","color":"black","bgcolor":"blue","icon":"fa-thumbs-up fa-2x","payload":"","payloadType":"str","topic":"","x":800,"y":120,"wires":[["fc9cf42f.be1488"]]},{"id":"fc9cf42f.be1488","type":"change","z":"8e7ff4c0.977368","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":120,"wires":[["7649b235.79273c"]]},{"id":"c855885e.59f4c8","type":"openweathermap","z":"8e7ff4c0.977368","name":"coordinates input","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":1930,"y":300,"wires":[["c49f95a5.6d6a88","304de3bb.18654c","fbd8f21e.1a23d","3cc059ef.6d9b16","f0160c6e.2d722","d9f44326.300cb","d481cd78.80e64","b5571e35.41d71","80da8cd4.349b1","2bf6343d.cb823c","5ec1b1ec.7bf78","c17fe1d2.6720e","724d8866.0a9f58","c3081389.26b8f","ced59d20.b9747","d03bc7df.422e68","1e414a5e.149006","4a5291a5.cdc68","bc9a98c8.9070f8"]]},{"id":"f1cd97fc.41c6b8","type":"function","z":"8e7ff4c0.977368","name":"input processing(coordinates)","func":"\nvar array = msg.payload.split(\",\"),\n    a = array[0], b = array[1];\n var myarr={\"lat\":a,\"lon\":b};\n \n\nvar newmsg={payload:msg.location}\nlocation=myarr;\n return{\n     location\n     \n }\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1570,"y":260,"wires":[["dfa3072e.fa0b38"]]},{"id":"c49f95a5.6d6a88","type":"ui_text","z":"8e7ff4c0.977368","group":"2729f90b.74fa36","order":1,"width":0,"height":0,"name":"","label":"Temperature in celcius","format":"{{msg.payload.tempc}}","layout":"row-spread","x":2520,"y":300,"wires":[]},{"id":"304de3bb.18654c","type":"ui_text","z":"8e7ff4c0.977368","group":"2729f90b.74fa36","order":2,"width":0,"height":0,"name":"","label":"Humidity(100%)","format":"{{msg.payload.humidity}}","layout":"row-spread","x":2500,"y":380,"wires":[]},{"id":"fbd8f21e.1a23d","type":"ui_text","z":"8e7ff4c0.977368","group":"2729f90b.74fa36","order":3,"width":0,"height":0,"name":"","label":"Pressure(bar)","format":"{{msg.payload.pressure}}","layout":"row-spread","x":2480,"y":460,"wires":[]},{"id":"3cc059ef.6d9b16","type":"ui_text","z":"8e7ff4c0.977368","group":"2729f90b.74fa36","order":4,"width":0,"height":0,"name":"","label":"Wind Speed(m/s)","format":"{{msg.payload.windspeed}}","layout":"row-spread","x":2490,"y":540,"wires":[]},{"id":"f0160c6e.2d722","type":"ui_text","z":"8e7ff4c0.977368","group":"2729f90b.74fa36","order":5,"width":0,"height":0,"name":"","label":"Wind Direction(in degrees)","format":"{{msg.payload.winddirection}}","layout":"row-spread","x":2480,"y":600,"wires":[]},{"id":"c533ee14.06879","type":"ui_text","z":"8e7ff4c0.977368","group":"2729f90b.74fa36","order":6,"width":0,"height":0,"name":"","label":"Sunrise Time ","format":"{{msg.payload}}","layout":"row-spread","x":2410,"y":680,"wires":[]},{"id":"9b35eb5c.84f118","type":"ui_text","z":"8e7ff4c0.977368","group":"2729f90b.74fa36","order":7,"width":0,"height":0,"name":"","label":"Sunset Time","format":"{{msg.payload}}","layout":"row-spread","x":2450,"y":740,"wires":[]},{"id":"c8feebe8.cf0ba8","type":"ui_audio","z":"8e7ff4c0.977368","name":"","group":"2729f90b.74fa36","voice":"Microsoft Zira Desktop - English (United States)","always":"","x":2880,"y":240,"wires":[],"icon":"node-red/feed.svg"},{"id":"ba350814.2bdc38","type":"change","z":"8e7ff4c0.977368","name":"","rules":[{"t":"set","p":"datades","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2960,"y":460,"wires":[["5c2c9a5e.725534"]]},{"id":"5c2c9a5e.725534","type":"ui_button","z":"8e7ff4c0.977368","name":"","group":"2729f90b.74fa36","order":9,"width":0,"height":0,"passthru":false,"label":"DETAILS IN BRIEF","tooltip":"","color":"","bgcolor":"","icon":"volume_up","payload":"","payloadType":"str","topic":"","x":2930,"y":400,"wires":[["76f3af22.5da93"]]},{"id":"76f3af22.5da93","type":"change","z":"8e7ff4c0.977368","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"datades","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":2920,"y":320,"wires":[["c8feebe8.cf0ba8"]]},{"id":"d9f44326.300cb","type":"function","z":"8e7ff4c0.977368","name":"get weather description","func":"\nreturn{\n    payload:msg.payload.description\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2950,"y":520,"wires":[["ba350814.2bdc38"]]},{"id":"1c53a0ab.04cfbf","type":"ui_dropdown","z":"8e7ff4c0.977368","name":"","label":"Choose:","tooltip":"","place":"","group":"388623ff.6955ac","order":2,"width":"6","height":"1","passthru":true,"multiple":false,"options":[{"label":"","value":"City and Country","type":"str"},{"label":"","value":"Latitude and Longitude","type":"str"}],"payload":"","topic":"","x":800,"y":1300,"wires":[["c4cb9e2b.e9c1c","b59c35d5.f8f248"]]},{"id":"c4cb9e2b.e9c1c","type":"ui_text","z":"8e7ff4c0.977368","group":"388623ff.6955ac","order":1,"width":"6","height":"2","name":"","label":"Filling one of the following fields is enough   ","format":"{{msg.payload}}","layout":"col-center","x":940,"y":1440,"wires":[]},{"id":"d2ef2976.1a01e8","type":"ui_toast","z":"8e7ff4c0.977368","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"Cancel","raw":true,"topic":"","name":"","x":1690,"y":1540,"wires":[[]]},{"id":"20d9d3b0.9aa28c","type":"ui_button","z":"8e7ff4c0.977368","name":"","group":"388623ff.6955ac","order":3,"width":0,"height":0,"passthru":false,"label":"GO","tooltip":"","color":"","bgcolor":"","icon":"fa-check-square-o  fa-2x","payload":"","payloadType":"str","topic":"","x":1030,"y":1260,"wires":[["e5372d1b.3398c"]]},{"id":"55b6071c.73f068","type":"switch","z":"8e7ff4c0.977368","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"City and Country","vt":"str"},{"t":"neq","v":"City and Country","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1250,"y":1280,"wires":[["3a3a87e6.5eca68"],["18ea44d6.359a1b"]]},{"id":"3a3a87e6.5eca68","type":"function","z":"8e7ff4c0.977368","name":"popup message(city,country)","func":"\nreturn {\n    payload:\"Please Fill City and Country Section in Weather Tab\"\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1540,"y":1340,"wires":[["d2ef2976.1a01e8"]]},{"id":"18ea44d6.359a1b","type":"function","z":"8e7ff4c0.977368","name":"popup message(coordinates)","func":"\nreturn {\n    payload:\"Please Fill Latitude and Longitude Section in Weather Tab\"\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1380,"y":1440,"wires":[["b6fc8d28.a1c25"]]},{"id":"b6fc8d28.a1c25","type":"ui_toast","z":"8e7ff4c0.977368","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1310,"y":1540,"wires":[[]]},{"id":"b59c35d5.f8f248","type":"change","z":"8e7ff4c0.977368","name":"","rules":[{"t":"set","p":"chooseinputmethod","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1020,"y":1360,"wires":[["20d9d3b0.9aa28c"]]},{"id":"e5372d1b.3398c","type":"change","z":"8e7ff4c0.977368","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"chooseinputmethod","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1040,"y":1160,"wires":[["55b6071c.73f068"]]},{"id":"d481cd78.80e64","type":"ui_gauge","z":"8e7ff4c0.977368","name":"","group":"f8c069d3.6bead8","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"celcius","format":"{{msg.payload.tempc}}","min":"-30","max":"60","colors":["#036854","#e69d00","#ca3838"],"seg1":"","seg2":"","x":2850,"y":20,"wires":[]},{"id":"b5571e35.41d71","type":"ui_gauge","z":"8e7ff4c0.977368","name":"","group":"f8c069d3.6bead8","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"100%","format":"{{msg.payload.humidity/100}}","min":"0","max":"1","colors":["#b3002d","#1be600","#3acbba"],"seg1":"","seg2":"","x":2860,"y":80,"wires":[]},{"id":"80da8cd4.349b1","type":"ui_gauge","z":"8e7ff4c0.977368","name":"","group":"f8c069d3.6bead8","order":2,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"bar","format":"{{msg.payload.pressure}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2840,"y":120,"wires":[]},{"id":"2bf6343d.cb823c","type":"ui_gauge","z":"8e7ff4c0.977368","name":"","group":"f8c069d3.6bead8","order":4,"width":0,"height":0,"gtype":"gage","title":"Windspeed","label":"m/s","format":"{{msg.payload.windspeed}}","min":0,"max":"20","colors":["#4700b3","#00e626","#cb4f3a"],"seg1":"","seg2":"","x":2830,"y":160,"wires":[]},{"id":"5ec1b1ec.7bf78","type":"ui_gauge","z":"8e7ff4c0.977368","name":"","group":"f8c069d3.6bead8","order":5,"width":0,"height":0,"gtype":"compass","title":"Winddirection","label":"in degrees","format":"{{msg.payload.winddirection}}","min":0,"max":"360","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":2840,"y":200,"wires":[]},{"id":"13419a68.7fe046","type":"switch","z":"8e7ff4c0.977368","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1250,"y":40,"wires":[["a36ed98e.b920f8"],["610b47c3.f169a8"]]},{"id":"a36ed98e.b920f8","type":"function","z":"8e7ff4c0.977368","name":"no input handle(city,country)","func":"\nreturn {\n    payload:\"Please input your details\"\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1460,"y":20,"wires":[["8fcc19cf.07e748"]]},{"id":"8fcc19cf.07e748","type":"ui_toast","z":"8e7ff4c0.977368","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1670,"y":20,"wires":[[]]},{"id":"7649b235.79273c","type":"switch","z":"8e7ff4c0.977368","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1230,"y":120,"wires":[["8cdb3f11.ee726"],["f1cd97fc.41c6b8"]]},{"id":"8cdb3f11.ee726","type":"function","z":"8e7ff4c0.977368","name":"no input handle(coordinates)","func":"return {\n    payload:\"Please input your details\"\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1440,"y":80,"wires":[["92a061b1.feb4b"]]},{"id":"92a061b1.feb4b","type":"ui_toast","z":"8e7ff4c0.977368","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1670,"y":80,"wires":[[]]},{"id":"afc14d12.8206e","type":"mqtt in","z":"8e7ff4c0.977368","d":true,"name":"","topic":"outgoingTopic","qos":"2","datatype":"auto","broker":"3ab46179.a9556e","x":570,"y":440,"wires":[["2c49790a.229e46","2abee67c.3017da"]]},{"id":"252cb9b5.c79476","type":"mqtt out","z":"8e7ff4c0.977368","name":"","topic":"incommingTopic","qos":"","retain":"","broker":"3ab46179.a9556e","x":1900,"y":240,"wires":[]},{"id":"a4d572e1.82b5a","type":"function","z":"8e7ff4c0.977368","name":"NodeMCU output","func":"\n\nreturn {\n    payload:msg.payload.description\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1950,"y":180,"wires":[["252cb9b5.c79476"]]},{"id":"c17fe1d2.6720e","type":"function","z":"8e7ff4c0.977368","name":"NodeMcu output","func":"\nreturn {\n    payload:msg.payload.description\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1820,"y":460,"wires":[["252cb9b5.c79476"]]},{"id":"8024e446.5430d8","type":"ui_switch","z":"8e7ff4c0.977368","name":"","label":"REMOTE-CONTROL","tooltip":"unlock to get data","group":"3ba37fd4.6558f","order":2,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-unlock  fa-2x","oncolor":"white","offvalue":"false","offvalueType":"bool","officon":"fa-lock  fa-2x","offcolor":"black","x":580,"y":360,"wires":[["7496468e.0f8e68"]]},{"id":"706c1656.25e9f8","type":"ui_numeric","z":"8e7ff4c0.977368","name":"update time","label":"How often you need weather updates(in seconds)","tooltip":"","group":"c3935f13.a93c9","order":0,"width":"6","height":"4","wrap":false,"passthru":true,"topic":"","format":"{{value}}","min":"20","max":"200","step":"10","x":610,"y":240,"wires":[["4941d1d2.c30df"]]},{"id":"4941d1d2.c30df","type":"function","z":"8e7ff4c0.977368","name":"update function","func":"flow.set(\"update_time\",msg.payload*1000);\nreturn{\n    delay:flow.get(\"update_time\")\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":860,"y":240,"wires":[["1b1b8c9e.0208c3"]]},{"id":"b8f333fe.c96ec","type":"function","z":"8e7ff4c0.977368","name":"work with updates","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1870,"y":100,"wires":[["19bc9174.2a827f"]]},{"id":"dfa3072e.fa0b38","type":"function","z":"8e7ff4c0.977368","name":"work with updates","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1720,"y":380,"wires":[["c855885e.59f4c8"]]},{"id":"4c7c511b.af2f1","type":"function","z":"8e7ff4c0.977368","name":"","func":"if(msg.payload==true){\n    return{\n        payload:{\"group\":{\"show\":[\"Weather_Plots\"]}}\n    }\n}\nelse{\n    return{\n        payload:{\"group\":{\"hide\":[\"Weather_Plots\"]}}\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1900,"y":940,"wires":[["f4bb565.27b7da8","9f679e2.4f4896"]]},{"id":"f4bb565.27b7da8","type":"debug","z":"8e7ff4c0.977368","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2110,"y":900,"wires":[]},{"id":"c3081389.26b8f","type":"function","z":"8e7ff4c0.977368","name":"chart function humidity","func":"\nreturn {\n    payload:msg.payload.humidity\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2440,"y":880,"wires":[["77a218c4.f7e6b8"]]},{"id":"ced59d20.b9747","type":"function","z":"8e7ff4c0.977368","name":"chart function windspeed","func":"\nreturn {\n    payload:msg.payload.windspeed\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2430,"y":940,"wires":[["116e2681.2e5129"]]},{"id":"724d8866.0a9f58","type":"function","z":"8e7ff4c0.977368","name":"Chart function temperature","func":"\nreturn {\n    payload:msg.payload.tempc\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2460,"y":820,"wires":[["26d3c94c.5250e6"]]},{"id":"26d3c94c.5250e6","type":"ui_chart","z":"8e7ff4c0.977368","name":"","group":"fedb8030.36e18","order":0,"width":0,"height":0,"label":"Temperature(in celcius)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"-30","ymax":"60","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2730,"y":940,"wires":[[]]},{"id":"77a218c4.f7e6b8","type":"ui_chart","z":"8e7ff4c0.977368","name":"","group":"fedb8030.36e18","order":1,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2700,"y":1000,"wires":[[]]},{"id":"116e2681.2e5129","type":"ui_chart","z":"8e7ff4c0.977368","name":"","group":"fedb8030.36e18","order":2,"width":0,"height":0,"label":"windspeed","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"20","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2670,"y":1060,"wires":[[]]},{"id":"7431ca18.ec0974","type":"ui_switch","z":"8e7ff4c0.977368","name":"","label":"ON OFF plots","tooltip":"thumbs up to on","group":"3ba37fd4.6558f","order":0,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-thumbs-up fa-2x","oncolor":"red","offvalue":"false","offvalueType":"bool","officon":"fa-thumbs-down  fa-2x","offcolor":"blue","x":1710,"y":940,"wires":[["4c7c511b.af2f1"]]},{"id":"9f679e2.4f4896","type":"ui_ui_control","z":"8e7ff4c0.977368","name":"","events":"all","x":2050,"y":1060,"wires":[[]]},{"id":"f7454637.794988","type":"switch","z":"8e7ff4c0.977368","name":"","property":"valid","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1250,"y":400,"wires":[["610b47c3.f169a8"],["d2ae05e4.9e2658"]]},{"id":"7496468e.0f8e68","type":"function","z":"8e7ff4c0.977368","name":"store remote status","func":"flow.set(\"nodemcu\",msg.payload);\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":340,"wires":[["2c49790a.229e46","2abee67c.3017da"]]},{"id":"2c49790a.229e46","type":"function","z":"8e7ff4c0.977368","name":"make remote functioning(coordinates)","func":"\n\nif(flow.get(\"nodemcu\")==true){\n    return{\n        valid:true,\n        payload:msg.payload\n    }\n}\nelse if(flow.get(\"nodemcu\")==false){\n    return{\n        valid:false,\n        payload:\"Access denied!!!\"\n}\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":500,"wires":[["a3e76442.311788"]]},{"id":"d03bc7df.422e68","type":"function","z":"8e7ff4c0.977368","name":"sunrise format","func":"var d=new Date(msg.payload.sunrise*1000)\nvar n=d.toString();\nvar x=n.slice(16,24);\nreturn{\n    payload:x\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1940,"y":540,"wires":[["5fcebbe5.fdbcb4"]]},{"id":"1e414a5e.149006","type":"function","z":"8e7ff4c0.977368","name":"sunset formatting","func":"var d=new Date(msg.payload.sunset*1000)\nvar n=d.toString();\nvar x=n.slice(16,24);\nreturn{\n    payload:x\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1930,"y":660,"wires":[["783d481e.94add8"]]},{"id":"5fcebbe5.fdbcb4","type":"moment","z":"8e7ff4c0.977368","name":"","topic":"","input":"payload","inputType":"msg","inTz":"Asia/Colombo","adjAmount":0,"adjType":"days","adjDir":"add","format":" HH:mm:ss","locale":"en-US","output":"payload","outputType":"msg","outTz":"Asia/Colombo","x":2180,"y":580,"wires":[["c533ee14.06879"]]},{"id":"783d481e.94add8","type":"moment","z":"8e7ff4c0.977368","name":"","topic":"","input":"payload","inputType":"msg","inTz":"Asia/Colombo","adjAmount":0,"adjType":"days","adjDir":"add","format":" HH:mm:ss","locale":"en-US","output":"payload","outputType":"msg","outTz":"Asia/Colombo","x":2150,"y":680,"wires":[["9b35eb5c.84f118"]]},{"id":"d2ae05e4.9e2658","type":"mqtt out","z":"8e7ff4c0.977368","name":"","topic":"AccessFailure","qos":"","retain":"","broker":"3ab46179.a9556e","x":1500,"y":440,"wires":[]},{"id":"d4a9b397.abb52","type":"mqtt out","z":"8e7ff4c0.977368","name":"","topic":"AccessFailure","qos":"","retain":"","broker":"3ab46179.a9556e","x":1520,"y":520,"wires":[]},{"id":"a3e76442.311788","type":"switch","z":"8e7ff4c0.977368","name":"","property":"valid","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1250,"y":500,"wires":[["f1cd97fc.41c6b8"],["d4a9b397.abb52"]]},{"id":"b9232cd.5a71ed","type":"mqtt out","z":"8e7ff4c0.977368","name":"","topic":"WarningTopic","qos":"","retain":"","broker":"3ab46179.a9556e","x":3930,"y":1080,"wires":[]},{"id":"c22718fb.99a4e8","type":"ui_template","z":"8e7ff4c0.977368","group":"a10c742b.b68e28","name":"","order":0,"width":0,"height":0,"format":"<script>\n    (function(scope) {\n        scope.$watch('msg', function(data) {\n            var elem = document.getElementById(\"headerStatus\")\n            if(elem !== null) {\n                elem.className = data.payload;\n                elem.innerHTML = data.payload;\n            }\n        });\n    })(scope);\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":3620,"y":180,"wires":[[]]},{"id":"f4202b4c.8af698","type":"ui_template","z":"8e7ff4c0.977368","group":"3b11b068.e60eb","name":"Header Status","order":2,"width":"0","height":"0","format":"<style>\n    #headerStatus {\n        font-weight: bold;\n        text-transform: uppercase;\n    }\n    #headerStatus.online {\n        color: lime;\n    }\n    #headerStatus.offline {\n        color: tomato;\n    }\n</style>\n\n<script id=\"titleScript\" type=\"text/javascript\">\n$(function() {\n    if($('.md-toolbar-tools').length){\n        initHeader();\n    } else setTimeout(initHeader, 500)\n});\n\nfunction initHeader(){\n    if (!$('#headerStatus').length) {\n        var toolbar = $('.md-toolbar-tools');\n        var div = $('<div/>');\n        var p = $('<p id=\"headerStatus\" />');\n        div[0].style.margin = '5px 5px 5px auto';\n        div.append(p);\n        toolbar.append(div);\n    }\n}\n</script>","storeOutMessages":false,"fwdInMessages":false,"resendOnRefresh":false,"templateScope":"global","x":3680,"y":100,"wires":[[]]},{"id":"4a5291a5.cdc68","type":"function","z":"8e7ff4c0.977368","name":"change header","func":"\nreturn{\n    payload:msg.location.city+\",\"+msg.location.country\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3360,"y":180,"wires":[["c22718fb.99a4e8"]]},{"id":"bc9a98c8.9070f8","type":"function","z":"8e7ff4c0.977368","name":"","func":"flow.set(\"info\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2330,"y":60,"wires":[[]]},{"id":"be22cf5.97ffd3","type":"function","z":"8e7ff4c0.977368","name":"max slider","func":"var enabled=msg.enabled;\nvar max_max=msg.ui_control.max;\nvar parameter=msg.parameter;\nif(parameter==\"Temp\"){\n    ui_control={\"min\":max_max,\"max\":40,\"step\":1};\n}\nelse if(parameter==\"Humi\"){\n    ui_control={\"min\":max_max+0.5,\"max\":100,\"step\":5};\n}\nelse if(parameter==\"Pressure\"){\n    ui_control={\"min\":max_max+0.5,\"max\":1100,\"step\":10};\n}\nelse if(parameter==\"Windspeed\"){\n    ui_control={\"min\":max_max+0.5,\"max\":60,\"step\":2};\n}\nelse{\n    ui_control={\"min\":max_max+0.5,\"max\":5,\"step\":1};\n}\nreturn{\n    \"enabled\":enabled,\n    \"ui_control\":ui_control\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":680,"wires":[["6629c55a.9f3e5c"]]},{"id":"c0c9381a.149718","type":"ui_slider","z":"8e7ff4c0.977368","name":"","label":"min","tooltip":"","group":"d8276184.60375","order":2,"width":0,"height":0,"passthru":true,"outs":"end","topic":"min","min":0,"max":10,"step":1,"x":930,"y":600,"wires":[["b830d83d.e8bb48"]]},{"id":"6629c55a.9f3e5c","type":"ui_slider","z":"8e7ff4c0.977368","name":"","label":"max","tooltip":"","group":"d8276184.60375","order":3,"width":0,"height":0,"passthru":true,"outs":"end","topic":"max","min":0,"max":10,"step":1,"x":940,"y":720,"wires":[["b830d83d.e8bb48"]]},{"id":"b830d83d.e8bb48","type":"function","z":"8e7ff4c0.977368","name":"","func":"if(msg.topic==\"min\"){\n    flow.set(\"min\",msg.payload);\n}\nif(msg.topic==\"max\"){\n    flow.set(\"max\",msg.payload);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1100,"y":620,"wires":[[]]},{"id":"dff37a03.f41d08","type":"ui_button","z":"8e7ff4c0.977368","name":"","group":"d8276184.60375","order":4,"width":0,"height":0,"passthru":false,"label":"choose range","tooltip":"","color":"black","bgcolor":"red","icon":"fa-thumbs-up fa-2x","payload":"true","payloadType":"bool","topic":"","x":1020,"y":780,"wires":[["1370faea.536505"]]},{"id":"1370faea.536505","type":"function","z":"8e7ff4c0.977368","name":"notification","func":"var min=flow.get(\"min\");\nvar max=flow.get(\"max\");\nvar mid=min+max/2;\nvar parameter=flow.get(\"parameter\");\nvar info=flow.get(\"info\");\n\nvar x;\nvar text=\"\";\nvar dif;\n\nvar notify=flow.get(\"notify\");\nif(msg.payload==true && notify==true){\n    if(parameter==\"Temp\"){\n        x=info.tempc;\n        if(x>=mid && x>max){\n            \n            dif=x-max;\n            text=\"Temperature of \"+info.location+\" is \"+x+\"C exceeds the limit by \"+dif+\"C\";\n            //message=text;\n            \n        }\n        else if(x<min){\n            dif=min-x;\n            text=\"Temperature of \"+info.location+\" is \"+x+\"C lags the limit by \"+dif+\"C\";\n            //message=text;\n        }\n            \n        \n    }\n    else if(parameter==\"Pressure\"){\n        x=info.pressure;\n        if(x>=mid && x>max){\n            dif=x-max;\n            text=\"Pressure of \"+info.location+\" is \"+x+\"bar exceeds the limit by \"+dif+\"bar\";\n            //message=text;\n        }\n        else if(x<min){\n            dif=min-x;\n            text=\"Pressure of \"+info.location+\" is \"+x+\"bar lags the limit by \"+dif+\"bar\";\n           // message=text;\n        }\n    }\n    else if(parameter==\"Humi\"){\n        x=info.humidity;\n        if(x>=mid && x>max){\n            dif=x-max;\n            text=\"Humidity of \"+info.location+\" is \"+x+\" exceeds the limit by \"+dif+\"\";\n            //message=text;\n        }\n        else if(x<min){\n            dif=min-x;\n            text=\"Humidity of \"+info.location+\" is \"+x+\" lags the limit by \"+dif+\"\";\n            //message=text;\n        }\n    }\n    else if(parameter==\"Windspeed\"){\n        x=info.windspeed;\n        if(x>=mid && x>max){\n            dif=x-max;\n            text=\"Windspeed of \"+info.location+\" is \"+x+\" exceeds the limit by \"+dif+\"\";\n            //message=text;\n        }\n        else if(x<min){\n            dif=min-x;\n            text=\"Windspeed of \"+info.location+\" is \"+x+\" lags the limit by \"+dif+\"\";\n            //message=text;\n        }\n    }\n\nreturn{\n    payload:text,\n    valid:true\n    \n    \n}\n}  \n    \n    \n    \n    \n    \n    \n    \n    \n    \n    \n    \n    \n    \n    \n    \n    \n    \n    \n    \n    \n    \n    \n    \n    \n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1270,"y":720,"wires":[["a0b8aa85.0fe6f8"]]},{"id":"659ff152.d29","type":"ui_toast","z":"8e7ff4c0.977368","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1690,"y":760,"wires":[[]]},{"id":"c370076b.7aff68","type":"mqtt out","z":"8e7ff4c0.977368","name":"","topic":"WarningTopic","qos":"","retain":"","broker":"3ab46179.a9556e","x":1700,"y":660,"wires":[]},{"id":"101927a2.050068","type":"ui_dropdown","z":"8e7ff4c0.977368","name":"","label":"Choose:","tooltip":"","place":"Select option","group":"d8276184.60375","order":1,"width":"6","height":"3","passthru":true,"multiple":false,"options":[{"label":"Temperature","value":"Temp","type":"str"},{"label":"Humidity","value":"Humi","type":"str"},{"label":"Windspeed","value":"Windspeed","type":"str"},{"label":"Pressure","value":"Pressure","type":"str"},{"label":"off","value":"off","type":"str"}],"payload":"","topic":"","x":480,"y":580,"wires":[["33c3a37c.b920ac"]]},{"id":"33c3a37c.b920ac","type":"function","z":"8e7ff4c0.977368","name":"min slider","func":"var enabled;\nvar ui_control;\nvar parameter=msg.payload;\nflow.set(\"parameter\",parameter);\nflow.set(\"notify\",true);\nif(msg.payload==\"Temp\"){\n    enabled=true\n    ui_control={\"min\":-50,\"max\":20,\"step\":1};\n    flow.set(\"min\",-50);\n    flow.set(\"max\",20);\n}\nelse if(msg.payload==\"Humi\"){\n    enabled=true\n    ui_control={\"min\":10,\"max\":50,\"step\":5};\n    flow.set(\"min\",10);\n    flow.set(\"max\",50);\n}\nelse if(msg.payload==\"Windspeed\"){\n    enabled=true\n    ui_control={\"min\":0,\"max\":15,\"step\":1};\n    flow.set(\"min\",0);\n    flow.set(\"max\",15);\n}\nelse if(msg.payload==\"Pressure\"){\n    enabled=true\n    ui_control={\"min\":900,\"max\":1000,\"step\":10};\n    flow.set(\"min\",900);\n    flow.set(\"max\",1000);\n}\nelse{\n    enabled=false\n    ui_control={\"min\":0,\"max\":5,\"step\":1};\n    flow.set(\"notify\",false);\n    \n\n}\nreturn{\n    \"enabled\":enabled,\n    \"ui_control\":ui_control,\n    \"parameter\":parameter\n    \n}\n\n\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":580,"wires":[["be22cf5.97ffd3","c0c9381a.149718"]]},{"id":"1b1b8c9e.0208c3","type":"trigger","z":"8e7ff4c0.977368","name":"updates","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"-250","extend":false,"overrideDelay":true,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":1130,"y":240,"wires":[["b8f333fe.c96ec","dfa3072e.fa0b38","1370faea.536505"]]},{"id":"291c704.56e519","type":"function","z":"8e7ff4c0.977368","name":"LED blink time","func":"\nvar update=flow.get(\"update_time\");\nreturn{\n    payload:update\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1520,"y":820,"wires":[["b6dbe796.9d40b8"]]},{"id":"b6dbe796.9d40b8","type":"mqtt out","z":"8e7ff4c0.977368","name":"","topic":"update_time","qos":"","retain":"","broker":"3ab46179.a9556e","x":1750,"y":820,"wires":[]},{"id":"a0b8aa85.0fe6f8","type":"switch","z":"8e7ff4c0.977368","name":"","property":"valid","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1470,"y":680,"wires":[["c370076b.7aff68","659ff152.d29","291c704.56e519"],[]]},{"id":"2abee67c.3017da","type":"function","z":"8e7ff4c0.977368","name":"make remote functioning(city,country)","func":"\n\nif(flow.get(\"nodemcu\")==true){\n    return{\n        valid:true,\n        payload:msg.payload\n    }\n}\nelse if(flow.get(\"nodemcu\")==false){\n    return{\n        valid:false,\n        payload:\"Access denied!!!\"\n}\n}\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":990,"y":400,"wires":[["f7454637.794988"]]},{"id":"a10c742b.b68e28","type":"ui_group","name":"City and Country Details","tab":"18747c17.202c74","order":2,"disp":true,"width":"6","collapse":false},{"id":"8b00623c.b5c53","type":"ui_group","name":"Latitude and Longitude details","tab":"18747c17.202c74","order":3,"disp":true,"width":"6","collapse":false},{"id":"2729f90b.74fa36","type":"ui_group","name":"Current Weather Details","tab":"18747c17.202c74","order":4,"disp":true,"width":"6","collapse":false},{"id":"388623ff.6955ac","type":"ui_group","name":"User Guidance","tab":"3e55b58e.55d1e2","order":1,"disp":true,"width":"6","collapse":false},{"id":"f8c069d3.6bead8","type":"ui_group","name":"Visual Representation","tab":"18747c17.202c74","order":6,"disp":true,"width":"6","collapse":true},{"id":"3ab46179.a9556e","type":"mqtt-broker","name":"","broker":"http://test.mosquitto.org/","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3ba37fd4.6558f","type":"ui_group","name":"Input details","tab":"18747c17.202c74","order":1,"disp":true,"width":"8","collapse":false},{"id":"c3935f13.a93c9","type":"ui_group","name":"Get user input update details","tab":"3e55b58e.55d1e2","order":3,"disp":true,"width":"6","collapse":false},{"id":"fedb8030.36e18","type":"ui_group","name":"Plots","tab":"18747c17.202c74","order":7,"disp":true,"width":"6","collapse":true},{"id":"3b11b068.e60eb","type":"ui_group","name":"Default","tab":"3e55b58e.55d1e2","order":3,"disp":true,"width":"6","collapse":false},{"id":"d8276184.60375","type":"ui_group","name":"Select parameter","tab":"18747c17.202c74","order":5,"disp":true,"width":"6","collapse":false},{"id":"18747c17.202c74","type":"ui_tab","name":"Weather","icon":"dashboard","disabled":false,"hidden":false},{"id":"3e55b58e.55d1e2","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]